<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, details_path(task[:id]) %>
      <%= link_to "🗑",
            details_path(task[:id]),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<br>
<br>
<%= link_to 'Add a new Task', new_path %>
